<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="emailFrom" value="Clusters@vulcan.net.pl" />
    <add key="emailTo" value="SaasAlerty@vulcan.pl" />	
    <add key="SMTPUser" value="SMTPSender" />	
    <add key="SMTPPassword" value="pow.123" />	
    <add key="SMTPServer" value="smtp.vulcan.net.pl" />
  </appSettings>
</configuration>
